<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"
        <meta http-equiv="X-UA-compatible" content="IE=edge">
        <meta name="viewport" content="witch=device-width, initial-scale=1.0">
        <title>Basic cooking recipes landing page</title>
        <script scr=".js.js" defer></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!-- navigation-->
        <header class="row container">
         <a href="#" class="logo">
            <!--insert image-->

         </a> 
         <div class="toggleMenue" oneclick=""toggleMenu();></div>
        <nav class="navigation row">
          <ul class="primary-link row">
            <li><a href="#">Home</a>"</li>
            <li><a href="#">recipes</a>"</li>
            <li><a href="#">Blog</a>"</li>
            <li><a href="#">Contact</a>"</li>
            <li><a href="#">About us</a>"</li>
          </ul>
          <ul class="primary-link row">
           <li><a href="#">
            <!--Insert facebook-->
        </li>
          <ul>
        </nav>
        </header>
        <!--End navigation-->
        <!-- hero section-->
         <section class="hero">
            <div class="container row">
               <div class="hero-content">
                <div class="content">
                    <div class="recipe row"><img src=".imgs/rcipe.png" alt="">Hot recipes</div>
                    <h1>Spicy chicken wings.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem beatae suscipit odit dolor, eligendi a sit quibusdam veritatis expedita temporibus tenetur?</p>
                    <div class="time row">
                        <div class="row">
                         <img src="images/OIP.jpg" alt="OIP" style="height: 30px; width: 40px;">   
                        </div>
                        <p>30 minutes</p>
                    </div>
                    <div class="row">
                        <!--Fork png-->
                    </div>
                </div>
                <div class="profile-btn row">
                    <div class="profile row">
                        <div class="p-img row">img src="<!--png here--></0div>
                            <div class="column">
                                <h6>Abigail Marget</h6>
                                <p>17 april 2015</p>
                            </div>
                    </div>
                    <a href="#" class="hero-btn row">
                        View Recipes
                        <!--insert page png to view recipes-->

                    </a>
                </div>
               </div>
            </div>
         </section>
        <!-- End hero section-->
         <!--Category-->
         <section class="category container">
            <div class="category-title row">
                <h2>categories</h2>
                <a href="#" class="category-btn">View all</a>
            </div>
            <div class="category-cards cloumn">
                <a href="#" class="cat-card">
                <!--instert png here-->
                <h6>Breafast</h6>
                </a>
                <a href="#" class="cat-card">
                    <img src="images/vegan.jpg" alt="vegan" style="height: 30px; width: 40px;">
                    <h6>Vegan</h6>
                </a>
                <a href="#" class="cat-card">
                    <img src="images/Lunch.jpg" alt="Lunch" style="height: 30px; width: 40px;">
                    <h6>Lunch</h6>
                    </a>
                <a href="#" class="cat-card">
                    <img src="images/dinner.jpg" alt="dinner" style="height: 30px; width: 40px;">
                    <h6>Dinner</h6>
                    </a>
                <a href="#" class="cat-card">
                    <img src="images/Seafood.jpg" alt="Seafood" style="height: 200; width: 200;">
                    <h6>Seafood</h6>
                    </a>
                <a href="#" class="cat-card">
                    <img src="images/Cake.jpg" alt="cake" style="height: 150px; width: 150px;">
                     <h6>Dessert</h6>
                      </a>

            </div>
         </section>
         <!--End Catergory-->

         <!--Recipes-->
         <Section class="recipes container">
            <div class="section-title">
                <h2>Simplely deliciouse recipes</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae porro, doloremque totam animi assumenda nesciunt veniam sunt amet suscipit odio saepe? Praesentium dolores cum enim nesciunt asperiores, illum distinctio ad.</p>
            </div>
            <div class="recipes-cards column">
                <a href="#" class="card">
                <!--insert png-->
                <h5>Juicy meats</h5>
                <div class="time row">
                    <div class="row">
                        <img src="images/OIP.jpg" alt="OIP" style="height: 30px; width: 40px;">   
                    </div>
                    <p>30 minutes</p>
                </div>
                <div class="row">
                    <!--Fork png-->
                </div>
            </div>
            <div class="like row active">
                <img src="images/Hearts-free-heart-clip-art-animations-danasrhp-top.png" alt="heart" style="height: 30px; width: 40px;">
            </div>
                </a>
                <a href="#" class="card">
                    <!--insert png-->
                    <h5>Juicy meats</h5>
                    <div class="time row">
                        <div class="row">
                            <img src="images/OIP.jpg" alt="OIP" style="height: 30px; width: 40px;">  
                        </div>
                        <p>30 minutes</p>
                    </div>
                    <div class="row">
                        <!--Fork png-->
                    </div>
                </div>
                <div class="like row active">
                    <img src="images/Hearts-free-heart-clip-art-animations-danasrhp-top.png" alt="heart" style="height: 30px; width: 40px;">
                </div>
                    </a>
                    <a href="#" class="card">
                        <!--insert png-->
                        <h5>Juicy meats</h5>
                        <div class="time row">
                            <div class="row">
                                <img src="images/OIP.jpg" alt="OIP" style="height: 30px; width: 40px;">
                            </div>
                            <p>30 minutes</p>
                        </div>
                        <div class="row">
                            <!--Fork png-->
                        </div>
                    </div>
                    <div class="like row active">
                        <img src="images/Hearts-free-heart-clip-art-animations-danasrhp-top.png" alt="heart" style="height: 30px; width: 40px;">
                    </div>
                        </a>
                        <a href="#" class="card">
                            <!--insert png-->
                            <h5>Juicy meats</h5>
                            <div class="time row">
                                <div class="row">
                                    <img src="images/OIP.jpg" alt="OIP" style="height: 30px; width: 40px;">   
                                </div>
                                <p>30 minutes</p>
                            </div>
                            <div class="row">
                                <!--Fork png-->
                            </div>
                        </div>
                        <div class="like row active">
                            <img src="images/Hearts-free-heart-clip-art-animations-danasrhp-top.png" alt="heart" style="height: 30px; width: 40px;">
                        </div>
                            </a>
            </div>
         </Section> 
         <!--End Recipes-->

         <!--Learn-->
         <section class="learn row container">
            <div class="learn-container">
                <div>
                    <h2>Anyone can cook</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti itaque at culpa iure tempore dolores, ex deleniti voluptatum nulla, necessitatibus accusamus libero ullam vel voluptatibus natus dignissimos sit? Ipsum, in?</p>
                    <a href="#" class="learn-btn">learn more</a>
                </div>
            </div>
            <div class="learn-img row"><!--insert img--> </div>
         </section>
         <!--End learn-->
       
         <!--try-->
         <section class="try container">
            <div class="try-content row">
                <h2>Recommended recipe</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laboriosam cum modi aperiam, expedita, quod ea perferendis enim neque molestiae possimus ad distinctio laborum facilis, pariatur officiis eius magnam ut!p></p>

            </div>
           <div class="try-cards cloumn">
            <h5>Juicy meats</h5>
                <div class="time row">
                    <div class="row">
                        <img src="images/OIP.jpg" alt="OIP" style="height: 30px; width: 40px;">   
                    </div>
                    <p>30 minutes</p>
                </div>
                <div class="row">
                    <!--Fork png-->
                </div>
            </div>
            <div class="like row active">
                <img src="images/Hearts-free-heart-clip-art-animations-danasrhp-top.png" alt="heart" style="height: 30px; width: 40px;">
            </div>
                </a>
                <h5>Fries</h5>
                <div class="time row">
                    <div class="row">
                        <img src="images/OIP.jpg" alt="OIP" style="height: 30px; width: 40px;">   
                    </div>
                    <p>30 minutes</p>
                </div>
                <div class="row">
                    <!--Fork png-->
                </div>
            </div>
            <div class="like row active">
                <img src="images/Hearts-free-heart-clip-art-animations-danasrhp-top.png" alt="heart" style="height: 30px; width: 40px;">
            </div>
                </a>
           </div>
        </section>
         <!--end try-->
         <!--Subcribe-->
         <section class="Subscribe row container">
           <div class="section-title">
            <h2> Subscribe for more recipes </h2>
            <p>Subscribe to recieve an email when ever there's a new recipe</p>
           </div>
           <div class="subscribe-input row">
            <div class="row">
                <input type="email" name="" id="" placeholder="your email..">
                <a href="# class="sub-btn">Subscribe</a>
            </div>
           </div>
         </section>
         <!--End subscribe-->

         <!--Footer-->
         <footer class="container">
            <div class="footer-content row">
               <div>
                <a href="#" class="logo">
                 <!---logo-->
                </a>
                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
               </div>
                <ul class="row">
                    <li><a href="#">Home</a>"</li>
                    <li><a href="#">recipes</a>"</li>
                    <li><a href="#">Blog</a>"</li>
                    <li><a href="#">Contact</a>"</li>
                    <li><a href="#">About us</a>"</li>
                  </ul>
            </div>
            <hr>
            <div class="footer-links row">
             <p class="copy-rights">&copy; 2025, All rights reserved</p>   
            </div>
         </footer>
         <!--footer-->
    
</html>